<%= include ../partials/header %>
<title>View A Place</title>
</head>
<body class = "container">
  <header>
    <h1>Details of <%= place.address %></h1>
  </header>

  <div>
    <p><strong>Address:</strong> <%= place.address %></p>
    <p><strong>Description:</strong> <%= place.description %></p>
  </div>


  <div>
				<a href="/places/<%= place.id %>/edit">Edit</a>

				<form role="form" action="/places/<%= place.id %>?_method=delete" method="POST">
					<input type="submit" value="Delete" id="delete">
				</form>

      </div>

<div>
</div>
<div>
  <a href="/places/<%= place._id%>/comments">See all comments on this post</a>
  <a href="/places/<%= place._id%>/comments/new">Add a new comment</a>
  <a href="/places">Back</a>
</div>


<%= include ../partials/footer %>
