<%= include ../partials/header %>
<title>View A Place</title>
</head>
<body class = "container">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><a href="/">View Places on Map!</a></li>
          <li><a href="/places">View List of All Places</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <h1>Details of <%= place.address %></h1>
  </header>

  <div>
    <p><strong>Address:</strong> <%= place.address %></p>
    <p><strong>Description:</strong> <%= place.description %></p>
  </div>

  <ul class="nav nav-pills nav-stacked">
    <li><a href="/places/<%= place._id%>/comments">See all comments on <%= place.address %></a></li>
    <li><a href="/places/<%= place._id%>/comments/new">Add a new comment to <%= place.address %></a></li>
    <li><a href="/places/<%= place.id %>/edit">Edit <%= place.address %></a></li>
    <li>
      <form role="form" action="/places/<%= place.id %>?_method=delete" method="POST">
        <input type="submit" value="Delete <%= place.address %>">
      </form>
    </li>
  </ul>

<%= include ../partials/footer %>
