<%= include ../partials/header %>
<title>Add A Comment</title>
</head>
<body class = "container">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><a href="/">View Places on Map!</a></li>
          <li><a href="/places">View List of All Places</a></li>
          <li><a href="/logout" id="logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <h1>Add a comment</h1>
  </header>

  <form role='form' action='/places/<%= place.id %>/comments' method='POST'>
    <label for='comment'>Comment:</label>
    <textarea type='text' name='comment[body]' class='form-control' rows='5' cols='30' id='comment' placeholder='Add a comment here'></textarea>
    <input type='hidden' class='hidden' name='comment[user]' id='user' value='<%= user_id %>'>
    <input type='submit'>
  </form>

  <p></p>
  <a href="/places/<%= place.id %>">Cancel</a>

<%= include ../partials/footer %>
